@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

body {
  overflow: hidden;
}
:root {
  --primary: rgb(71, 182, 245);
  --secondary: rgb(39, 207, 171);
  --background: #121212;
  --surface: #1e1e1e;
  --error: #cf6679;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #dedede;
  --on-surface: #e2e2e2;
  --on-error: #000000;
  --input-background: #1c1c1c;
  --borders: #2e2e2e;
  --input-text: #e0e0e0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  padding: 5px;
  margin-right: 10px;
  transition: all 0.3s;
}

::-webkit-scrollbar-button {
  background-color: #121212;
}

::-webkit-scrollbar-corner {
}
::-webkit-scrollbar-thumb {
  background-color: var(--surface);
  width: 10px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-track-piece {
}
